<div>
  <article>
    <h1>Cuento de los Lerele: ”Pablo y su exposición en el cole”</h1>
    <p>
      El primer grupo en hacer su presentación dejó el listón bastante alto. Prepararon una presentación muy
      divertida con una receta de mini pasteles de zanahoria y, para rematar la jugada, trajeron 23  pasteles
      que repartieron en clase.
    </p>
    <p>
      La idea me gustó y pensé que nosotros también llevaríamos una muestra de nuestra receta
      para todos los compañeros.
      Mientras estaba abstraído pensando en cómo iba a ser nuestra presentación, me llegó el turno
      de recibir mi pastelillo de zanahoria.
      Aunque agradecí el detalle culinario, lo cierto es que aquel obsequio me ponía en un serio
      compromiso. Veréis, el problema es que yo soy muy escrupuloso y tanto sobeteo de comida hacía
      imposible que me metiera el pastelillo en la boca.
      Y allí estaba yo, cara a cara con mi pastel, todo el mundo con la boca llena de pastelillos y yo con un ataque de asco que me impedía pensar con claridad.
    </p>
    <p>
      Para evitar que mis compañeros se dieran cuenta de mis escrúpulos y pudiesen pensar que era algo
      rarito, decidí guardar el pastelillo en mi mochila, pero justo cuando iba a envolverlo en un folio
      para que no se manchase la mochila por dentro, mi amigo Guille se dio la vuelta y, con la boca llena
      de pastel, me dijo  ¿a que está riquísimo Si contesté mientras inflaba los carrillos fingiendo que
      comía como el resto de compañeros.
    </p>
    <p>
      Con los nervios, empujé el pastelillo al fondo de la mochila sin ningún tipo de envoltorio y, mientras
      lo escondía, notaba como el pringue invadía el interior y todo lo que encontraba a su paso.
    </p>
    <p>
      Ya no había nada que pudiera hacer, así que cerré la mochila y me dirigí a casa, intentando no darle
      más importancia a aquel asunto.
    </p>

  </article>

  @defer ( on viewport ) {
    <app-comments/>
  } @placeholder {
    <p>Futuros comentarios</p>
  }

</div>




<!-- <router-outlet /> -->
